[run]
branch = True

[report]
exclude_lines = 
  # the original exclude
  pragma: no cover

  # code executed only when tests fail
  'No exception raised!'
  self\.fail\('Expected

  # example code that we don't want to cover with pragma statements
  guppy =
