[run]
branch = True
parallel = True

[report]
exclude_lines = 
  # the original exclude
  pragma: no cover

  # code executed only when tests fail
  'No exception raised!'
  self\.fail\('Expected

  # example code that we don't want to cover with pragma statements
  guppy =

[paths]
src = 
  ./testfixtures/
  C:\Jenkins\workspace\testfixtures-virtualenv\*\testfixtures
  /var/lib/jenkins/slave/workspace/testfixtures-virtualenv/*/testfixtures
  /Users/Shared/Jenkins/Home/workspace/testfixtures-virtualenv/*/testfixtures
