/.installed.cfg
/bin/
/develop-eggs
/dist
/docs/_build
/eggs
/*.egg-info/
/parts/
*.pyc
/.coverage
/*.xml
/.tox
/htmlcov
/include
/lib
/local
/man
/.Python
.noseids
desc.html
pip-selfcheck.json
.coverage.*
