version: 2.1

orbs:
  python: cjw296/python-ci@3

jobs:
  check-package:
    parameters:
      image:
        type: string
      extra_package:
        type: string
        default: ""
      imports:
        type: string
        default: "testfixtures"
    docker:
      - image: << parameters.image >>
    steps:
      - python/check-package:
          package: "testfixtures"
          extra_packages: <<  parameters.extra_package >>
          test:
          - run:
              name: "Check Imports"
              command: python -c "import << parameters.imports >>"

common: &common
  jobs:
    - python/pip-run-tests:
        name: python27
        image: cimg/python:2.7
    - python/pip-run-tests:
        name: python36
        image: cimg/python:3.6
        extra_packages: "'sybil<3' 'pytest<7'"
    - python/pip-run-tests:
        name: python39
        image: cimg/python:3.9
    - python/pip-run-tests:
        name: python310
        image: cimg/python:3.10
    - python/pip-run-tests:
        name: python310-mock-backport
        image: cimg/python:3.10
        extra_packages: "mock"
    - python/pip-run-tests:
        name: python310-django-latest
        image: cimg/python:3.10
        extra_packages: "django"

    - python/coverage:
        name: coverage
        image: cimg/python:3.10
        requires:
          - python27
          - python36
          - python39
          - python310
          - python310-mock-backport
          - python310-django-latest

    - python/pip-docs:
        name: docs
        requires:
          - coverage

    - python/pip-setuptools-build-package:
        name: package
        requires:
          - docs
        filters:
          branches:
            only: master

    - check-package:
        name: check-package-python27
        image: cimg/python:2.7
        requires:
          - package

    - check-package:
        name: check-package-python310
        image: cimg/python:3.10
        requires:
          - package

    - check-package:
        name: check-package-python27-mock
        image: cimg/python:2.7
        extra_package: mock
        imports: "testfixtures, testfixtures.mock"
        requires:
          - package

    - check-package:
        name: check-package-python310-mock
        image: cimg/python:3.10
        extra_package: mock
        imports: "testfixtures, testfixtures.mock"
        requires:
          - package

    - check-package:
        name: check-package-python310-django
        image: cimg/python:3.10
        extra_package: django
        imports: "testfixtures, testfixtures.django"
        requires:
          - package

    - python/release:
        name: release
        config: .carthorse.yml
        requires:
          - check-package-python27
          - check-package-python27-mock
          - check-package-python310
          - check-package-python310-mock
          - check-package-python310-django

workflows:
  push:
    <<: *common
  periodic:
    <<: *common
    triggers:
      - schedule:
          cron: "0 1 * * *"
          filters:
            branches:
              only: master
