version: 2.1

orbs:
  python: cjw296/python-ci@2

jobs:
  check-package:
    parameters:
      image:
        type: string
      extra_package:
        type: string
        default: ""
      imports:
        type: string
        default: "testfixtures"
    docker:
      - image: << parameters.image >>
    steps:
      - python/check-package:
          package: "mock"
          extra_packages: <<  parameters.extra_package >>
          test:
          - run:
              name: "Check Imports"
              command: python -c "import << parameters.imports >>"

common: &common
  jobs:
    - python/pip-run-tests:
        name: python27
        image: circleci/python:2.7
    - python/pip-run-tests:
        name: python36
        # so we test the mock monkey patches:
        image: circleci/python:3.6.6
    - python/pip-run-tests:
        name: python37
        image: circleci/python:3.7
    - python/pip-run-tests:
        name: python38
        image: circleci/python:3.8
    - python/pip-run-tests:
        name: python36-mock-backport
        # so we test the mock monkey patches aren't used:
        image: circleci/python:3.6.4
        extra_packages: "mock"
    - python/pip-run-tests:
        name: python37-mock-backport
        image: circleci/python:3.7
        extra_packages: "mock"
    - python/pip-run-tests:
        name: python27-django-1-9
        image: circleci/python:2.7
        extra_packages: "'django<1.10'"
    - python/pip-run-tests:
        name: python36-django-1-11
        image: circleci/python:3.6
        extra_packages: "'django<1.12'"
    - python/pip-run-tests:
        name: python37-django-1-11
        image: circleci/python:3.7
        extra_packages: "'django<1.12'"
    - python/pip-run-tests:
        name: python36-django-latest
        image: circleci/python:3.6
    - python/pip-run-tests:
        name: python37-django-latest
        image: circleci/python:3.7

    - python/coverage:
        name: coverage
        requires:
          - python27
          - python36
          - python37
          - python38
          - python36-mock-backport
          - python37-mock-backport
          - python27-django-1-9
          - python36-django-1-11
          - python37-django-1-11
          - python36-django-latest
          - python37-django-latest

    - python/pip-docs:
        name: docs
        requires:
          - coverage

    - python/pip-setuptools-build-package:
        name: package
        requires:
          - docs
        filters:
          branches:
            only: master

    - check-package:
        name: check-package-python27
        image: circleci/python:2.7
        requires:
          - package

    - check-package:
        name: check-package-python38
        image: circleci/python:3.8
        requires:
          - package

    - check-package:
        name: check-package-python27-mock
        image: circleci/python:2.7
        extra_package: mock
        imports: "testfixtures, testfixtures.mock"
        requires:
          - package

    - check-package:
        name: check-package-python38-mock
        image: circleci/python:3.8
        extra_package: mock
        imports: "testfixtures, testfixtures.mock"
        requires:
          - package

    - check-package:
        name: check-package-python27-django
        image: circleci/python:2.7
        extra_package: django
        imports: "testfixtures, testfixtures.django"
        requires:
          - package

    - check-package:
        name: check-package-python38-django
        image: circleci/python:3.8
        extra_package: django
        imports: "testfixtures, testfixtures.django"
        requires:
          - package

    - python/release:
        name: release
        config: .carthorse.yml
        requires:
          - check-package-python27
          - check-package-python27-mock
          - check-package-python27-django
          - check-package-python38
          - check-package-python38-mock
          - check-package-python38-django

workflows:
  push:
    <<: *common
  periodic:
    <<: *common
    triggers:
      - schedule:
          cron: "0 1 * * *"
          filters:
            branches:
              only: master
