version: 2.1

orbs:
  python: cjw296/python-ci@4.0.1

jobs:
  check-package:
    parameters:
      image:
        type: string
      extra_package:
        type: string
        default: ""
      imports:
        type: string
        default: "testfixtures"
    docker:
      - image: << parameters.image >>
    steps:
      - python/check-package:
          package: "testfixtures"
          extra_packages: <<  parameters.extra_package >>
          test:
          - run:
              name: "Check Imports"
              command: python -c "import << parameters.imports >>"

common: &common
  jobs:
    - python/pip-run-tests:
        matrix:
          parameters:
            image:
              - cimg/python:3.7
              - cimg/python:3.8
              - cimg/python:3.9
              - cimg/python:3.10
              - cimg/python:3.11
              - cimg/python:3.12
    - python/pip-run-tests:
        name: mock-backport
        image: cimg/python:3.11
        extra_packages: "mock"
    - python/pip-run-tests:
        name: django-latest
        image: cimg/python:3.11
        extra_packages: "django"

    - python/coverage:
        name: coverage
        image: cimg/python:3.11
        requires:
          - python/pip-run-tests
          - mock-backport
          - django-latest

    - python/pip-docs:
        name: docs
        requires:
          - coverage

    - python/pip-setuptools-build-package:
        name: package
        requires:
          - docs
        filters:
          branches:
            only: master

    - check-package:
        name: check-package-python
        image: cimg/python:3.11
        requires:
          - package

    - check-package:
        name: check-package-python-mock
        image: cimg/python:3.11
        extra_package: mock
        imports: "testfixtures, testfixtures.mock"
        requires:
          - package

    - check-package:
        name: check-package-python-django
        image: cimg/python:3.11
        extra_package: django
        imports: "testfixtures, testfixtures.django"
        requires:
          - package

    - python/release:
        name: release
        config: .carthorse.yml
        requires:
          - check-package-python
          - check-package-python-mock
          - check-package-python-django

workflows:
  push:
    <<: *common
  periodic:
    <<: *common
    triggers:
      - schedule:
          cron: "0 1 * * *"
          filters:
            branches:
              only: master
